<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost</param-value>
    </context-param>

    <servlet>
        <servlet-name>QuickStartServlet</servlet-name>
        <servlet-class>servlet.QuickStartServlet</servlet-class>

        <init-param>
            <param-name>driver</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>

        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuickStartServlet</servlet-name>
        <url-pattern>/quickStartServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QuickStartServlet2</servlet-name>
        <servlet-class>servlet.QuickStartServlet2</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>QuickStartServlet2</servlet-name>
        <!--<url-pattern>/quickStartServlet2</url-pattern>-->
       <!-- <url-pattern>/aaa/bbb/*</url-pattern>-->
       <!-- <url-pattern>*.abc</url-pattern>-->
        <!--<url-pattern>/aaa/bbb/*.adc</url-pattern>-->

        <url-pattern>/aaa/vvv/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ServletContext1</servlet-name>
        <servlet-class>servlet.servletContext.ServletContext1</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>ServletContext1</servlet-name>
        <url-pattern>/servletContext1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletContext2</servlet-name>
        <servlet-class>servlet.servletContext.ServletContext2</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>ServletContext2</servlet-name>
        <url-pattern>/servletContext2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResponseServlet</servlet-name>
        <servlet-class>servlet.response.ResponseServlet</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>ResponseServlet</servlet-name>
        <url-pattern>/responseServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>RequestServlet1</servlet-name>
        <servlet-class>servlet.request.RequestServlet1</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>RequestServlet1</servlet-name>
        <url-pattern>/requestServlet1</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>servlet.request.RequestServlet</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/requestServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.request.RegisterServlet</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CookieServlet1</servlet-name>
        <servlet-class>servlet.cookie.CookieServlet1</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>CookieServlet1</servlet-name>
        <url-pattern>/cookieServlet1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LastAccessServlet</servlet-name>
        <servlet-class>servlet.cookie.LastAccessServlet</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>LastAccessServlet</servlet-name>
        <url-pattern>/lastAccessServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>servlet.session.SessionServlet</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/sessionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>SessionServlet1</servlet-name>
    <servlet-class>servlet.session.SessionServlet1</servlet-class>


</servlet>
    <servlet-mapping>
        <servlet-name>SessionServlet1</servlet-name>
        <url-pattern>/sessionServlet1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletTestJsp</servlet-name>
        <servlet-class>servlet.jsptest.ServletTestJsp</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>ServletTestJsp</servlet-name>
        <url-pattern>/servletTestJsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>servlet.jsptest.ProductServlet</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/productServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductInfoServlet</servlet-name>
        <servlet-class>web.ProductInfoServlet</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>ProductInfoServlet</servlet-name>
        <url-pattern>/productInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminProductListServlet</servlet-name>
        <servlet-class>web.AdminProductListServlet</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>AdminProductListServlet</servlet-name>
        <url-pattern>/adminProductList</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AdminProductAddServlet</servlet-name>
        <servlet-class>web.AdminProductAddServlet</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>AdminProductAddServlet</servlet-name>
        <url-pattern>/adminProductAdd</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminCategoryListServlet</servlet-name>
        <servlet-class>web.AdminCategoryListServlet</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>AdminCategoryListServlet</servlet-name>
        <url-pattern>/adminCategoryList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminDeleteProductServlet</servlet-name>
        <servlet-class>web.AdminDeleteProductServlet</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDeleteProductServlet</servlet-name>
        <url-pattern>/adminDeleteProduct</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>servlet.ajax.AjaxServlet</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/ajaxServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JQueryAjaxServlet</servlet-name>
        <servlet-class>servlet.ajax.JQueryAjaxServlet</servlet-class>


    </servlet>
    <servlet-mapping>
        <servlet-name>JQueryAjaxServlet</servlet-name>
        <url-pattern>/jQueryAjax</url-pattern>
    </servlet-mapping>
</web-app>